* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-image: linear-gradient(to bottom left, #9648EE, #6B0ADA);
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #e9e9e9;
  padding: 30px; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(7px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-7px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.logo-header-box {
  position: absolute;
  top: 20px;
  left: 20px; }

.logo {
  height: 140px; }

.header {
  height: 95vh;
  background-image: linear-gradient(to left bottom, rgba(172, 110, 243, 0.8), rgba(233, 254, 152, 0.8)), url("../img/background.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%); }

.text-box-header {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  padding-bottom: 10px; }

.heading-primary {
  color: #7F23E7;
  text-transform: uppercase;
  transform: translate(-50%, -50%); }

.heading-primary-main {
  display: block;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 20px;
  animation-name: moveInLeft;
  animation-duration: 2.1s;
  animation-timing-function: ease-in-out; }

.heading-primary-sub {
  display: block;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 15px;
  animation-name: moveInRight;
  animation-duration: 2.1s;
  animation-timing-function: ease-in-out; }
