$color-light: #AC6EF3;
$color-primary: #9648EE;
$color-dark: #7F23E7;
$color-vdark: #6B0ADA;
$yellow-vlight: #E9FE98;
$color-offWhite: #e9e9e9;
$color-black: #000;
$yellow-medium: #FFF13E;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
