.header{
  height: 95vh;
  background-image: linear-gradient(to left bottom,
          rgba($color-light, 0.8),
          rgba($yellow-vlight, 0.8)),
  url("../../img/background.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%);

}

.text-box-header{
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  padding-bottom: 10px;
}

.heading-primary{
  color: $color-dark;
  text-transform: uppercase;
  transform: translate(-50%, -50%);

}

.heading-primary-main{
  display: block;
  font-size: 4.15vw;//70px;
  font-weight: 700;
  letter-spacing: 20px;

  animation-name: moveInLeft;
  animation-duration: 2.1s;
  animation-timing-function: ease-in-out;


}

.heading-primary-sub{
  display: block;
  font-size: 2vw;//30px;
  font-weight: 400;
  letter-spacing: 15px;

  animation-name: moveInRight;
  animation-duration: 2.1s;
  animation-timing-function: ease-in-out;
}

.vision{
  margin-top: 7rem;
  width: 100%;
  padding-bottom: 15rem;
  //height: 36rem;
  background-image: radial-gradient(
          rgba($color-offWhite, 0.7),
          rgba($yellow-vlight, 0.8)),
  url("../../img/vision-bg.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 50% 90%, 0 100%);
}

.vision-title{
  //height: 10rem;
  width: 100%;
  //margin-bottom: 8rem;
  color: $color-primary;
}
.vision-title-text{
  text-align: center;
  font-size: 9.3vw;//10rem;

}
.vision-vis{
  height: 4rem;
  //padding-bottom: 1.5rem;
}

.vision-vis-text{
  text-align: center;
  font-size: 2vw;//2rem;
  margin-right: .7rem;
  margin-left: .7rem;
  color: $color-light;
}

.featured-disc{
  padding-bottom: 17rem;
  margin-top: 7rem;
  background-image: radial-gradient(
                  rgba($color-offWhite, 0.7),
                  rgba($yellow-vlight, 0.8)),
  url("../../img/featured-disc-back.jpg");
  background-size: cover;
  background-position: center;

  clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 50% 90%, 0 100%);

}


.featured-disc-head{
 transform: translateY(5rem);
  text-align: center;
  font-size: 9.3vw;//10rem;
  color: $color-dark;
}

.album{
  position: relative;
  display: grid;
  transform: translateY(5rem);
  margin-top: 4rem;
  //display: block;
  width: 100%;
  height: 20rem;
  text-align: center;
  //display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 27rem 27rem 27rem;
  justify-content: center;

  align-content: center;

}

.album-cover{
  max-height: 25rem;
  //float: left;
  //
  //margin-right: $gutter-horizontal;
}

.album-div{
  //width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  //float: left;
  width: 25rem;
  height: 25rem;
  transition: all .25s;

  &:hover {
    outline: 1.5rem solid $color-primary;
    transform: scale(1.05) translateY(-.5rem);
    box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
    z-index: 20;
  }


}

.news{
  margin-top: 7rem;
  grid-column-gap: 2rem;
  grid-template-columns: 27rem 27rem 27rem;
  grid-template-rows: 25% 100px auto;
  width: 100%;
  padding-bottom: 20rem;
  background-image: radial-gradient(
                  rgba($color-offWhite, 0.7),
                  rgba($yellow-vlight, 0.8)),
  url("../../img/News-BG.jpg");
  //background-color: $yellow-medium;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 50% 90%, 0 100%);
}
.news-title{
  font-size: 5.4vw;
  width: 100%;
  color:$color-primary;
  text-align: center;
}

.news-articles{
  grid-column-gap: 2rem;
  grid-template-columns: 27rem 27rem 27rem;
  grid-template-rows: 25vh;
  display: grid;
  position: relative;
  width: 100%;
  height: 17vh;
  color: $color-vdark;
  justify-content: center;
  align-content: center;
  margin-right: 2rem;
  margin-left: 2rem;
}

.news-articles-a{
  float: left;
  width: 100%;
  height: 2vw;
  text-align: center;
}
.news-articles-linkBlock{
  text-decoration: none;
  transition: all .4s;
  color:$color-primary;
  width: 100%;
  height: 100%;


  &:hover{
    color: $color-light;
    font-size: 10vw;
    text-shadow: 0rem .2rem .25rem rgba($color-dark, .2);
  }
}

.news-articles-a-h{
  font-size: 3.5vw;
}

.news-articles-a-p {
  font-size: 1.4vw;


  margin: 0 0 1em 0;
  overflow: hidden;
  line-height: 1.5em;
  position: relative;
  height: 10.5em; /* exactly three lines */

}










